@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  margin: 0;
  background-color: #40628E;
  font-family: Montserrat;
  font-size: 1.5em;
  color:black;
  font-weight:bold;
}
h3{
  font-family:comic sans ms;
  color: #6D483A;
  text-align: center;

}

.title {
  font-size: 2em;
  margin: 0em;
  text-align:center;
}

.paddingWrapper {
  padding-left: 10px;
  padding-right: 10px;
}

#warningDiv {
  border-color: FFA68F;
  border-width: 3px;
}

input {
  height: 2.2em;
  width: 18em;
  background-color: #ff8566;
  border-color: #FFA68F;
  border-width: 3px;
  border-radius: 5px;
  border-style:solid;
  text-align: center;
  font-family: Montserrat;
  font-size: .80em;
  font-weight:bold;
  color:white;
}

button {
  margin:10px;
  border-color: #FFA68F;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  height: 2.35em;
  width: 7em;
  background-color: #ff8566;
  font-size: .75em;
  font-weight:bold;
  color: #5F2617;
}

.outer {
  display: table;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto; 
}

.header {
    width: 100%;
    position:absolute;
    z-index: 1000;
    padding-top: 0px;
    left: 0;
    height: 0px;
    border: none;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.2);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;

}



ul {
    overflow: auto;
    list-style-type: none;
    text-align: center;
}

li {
    height: 20px;
    margin-right: 0px;
    border-right: 1px solid #1976D2;
    padding: 0 20px;
    display: inline;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: #BBDEFB;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    display: inline-block;
}

li.active a, li a:hover {
    color:white;
}



body {
  
  background: radial-gradient(#00bfff, #1e90ff);
}
div#container{
  background:white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.125), 0 0.25rem 0.125rem 0.125rem rgba(0, 0, 0, 0.155);
  padding: 0rem 0 0;
  margin: 4rem;
  max-width: 70rem;
  height:30rem;
  padding-top:0em;
}